<div id="footer" class="w980">
    <span>27NG.COM - 爱去宁国 - </span><a href="javascript:;" id="user-login">登录</a>
    <br /> Copyleft &copy; 2016 <b><a href="http://www.27ng.com" target="_blank">爱去宁国</a>(www.27ng.com)</b> All OpenContent 皖ICP备14009209号-1
    <br />
</div>
<script src="/js/common.js"></script>
</body>
</html>