<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
</head>

<body>

<div id="header">
    <div class="w980 clearfix">
        <h1><a href="/" title="<%= title %>"><%= title %></a></h1>
        <a class="contact" href="contact.html" title="联系我们"></a>
    </div>
</div>

<div class="nav clearfix">
    <div class="w980">
        <ul>
            <li class="current"><a href="/">首页</a></li>
            <li><a href="/mingzhan">宁国名站</a></li>
            <li><a href="/gouwu">购物指南</a></li>
            <li><a href="/yule">娱乐休闲</a></li>
            <li><a href="/meishi">餐饮美食</a></li>
            <li><a href="/jiankang">健康美容</a></li>
            <li><a href="/lvyou">旅游出行</a></li>
            <li><a href="/shenghuo">生活服务</a></li>
            <li><a href="/rencai">人才教育</a></li>
            <li><a href="/fangchan">房产</a></li>
            <li><a href="/qiye">企业之窗</a></li>
            <li><a href="/zhengfu">政府之窗</a></li>
            <li><a href="/about_helping">帮助我们</a></li>
        </ul>
    </div>
</div>

<div class="banner">
    <div class="w980">
        <div class="banner_box">
            <table width="100%" cellpadding="1" cellspacing="1" border="0">
                <tbody>
                    <tr valign="top" align="center">
                        <td>
                            <div class="domain_logo">
                                <a href="http://www.ngbbs.cn/" title="宁国社区论坛"><img src="/static/images/ningguo/ngbbs-cn.gif" alt="宁国社区论坛"></a>
                                <br>
                                <b>宁国最具影响力媒体</b>
                            </div>
                        </td>
                        <td>
                            <div class="domain_logo">
                                <a href="http://www.ngbbs.com/" title="宁国论坛"><img src="/static/images/ningguo/ngbbs-com.gif" alt="宁国论坛"></a>
                                <br>
                                <b>自由言论宁国论坛</b>
                            </div>
                        </td>
                        <td>
                            <div class="domain_logo">
                                <a href="http://www.xiashiji.com/" title="夏世纪宁国精品网购"><img src="/static/images/ningguo/xiashiji.gif" alt="夏世纪宁国精品网购"></a>
                                <br>
                                <b>宁国本地网购</b>
                            </div>
                        </td>
                        <td>
                            <div class="domain_logo">
                                <a href="http://www.ngqyfw.com/" title="宁国企业服务网"><img src="/static/images/ningguo/ngqyfww.gif" alt="宁国企业服务网"></a>
                                <br>
                                <b>宁国专业企业服务平台</b>
                            </div>
                        </td>
                        <td>
                            <div class="domain_logo">
                                <a href="http://tieba.baidu.com/f?kw=%C4%FE%B9%FA" title="宁国贴吧"><img src="/static/images/ningguo/ngtieb.gif" width="120" alt="宁国贴吧"></a>
                                <br>
                                <b>百度宁国贴吧</b>
                            </div>
                        </td>
                    </tr>
                    <tr valign="top" align="center">
                        <td>
                            <div class="domain_logo">
                                <a href="http://www.unicrex.com/" title="宁国联创人才网"><img src="/static/images/ningguo/unicrex.gif" alt="宁国联创人才网"></a>
                                <br>
                                <b>专业人才服务</b>
                            </div>
                        </td>
                        <td>
                            <div class="domain_logo">
                                <a href="http://coconut.tmall.com/" title="宁国壳壳果"><img src="/static/images/ningguo/coconut.gif" alt="宁国壳壳果，让天下人吃到真正的坚果"></a>
                                <br>
                                <b>壳壳果天猫店铺</b>
                            </div>
                        </td>
                        <td>
                            <div class="domain_logo">
                                <a href="http://www.ng114.net/" title="宁国在线"><img src="/static/images/ningguo/ng114.gif" alt="宁国在线-挖掘宁国精彩，铸造宁国辉煌"></a>
                                <br>
                                <b>宁国在线</b>
                            </div>
                        </td>
                        <td>
                            <div class="domain_logo">
                                <a href="http://www.20563.cn/" title="宁国之家网址导航"><img src="/static/images/ningguo/20563.gif" alt="宁国之家导航( www.20563.cn)是宁国市最具有影响力的上网导航网站"></a>
                                <br>
                                <b>宁国之家</b>
                            </div>
                        </td>
                        <td>
                            <div class="domain_logo">
                                <a href="http://www.ngfang.com/" title="宁国房产网"><img src="/static/images/ningguo/ngfang.gif" alt="宁国房地产第一门户网站"></a>
                                <br>
                                <b>宁国房产网</b>
                            </div>
                        </td>
                    </tr>
                    <tr valign="top" align="center">
                        <td>
                            <div class="domain_logo">
                                <a href="http://www.lejung.com/" title="乐居宁国"><img src="/static/images/ningguo/lejung.gif" alt="乐居宁国网-打造宁国第一房产门户"></a>
                                <br>
                                <b>乐居宁国</b>
                            </div>
                        </td>
                        <td>
                            <div class="domain_logo">
                                <a href="http://http://www.ngnews.cn/" title="宁国新闻网"><img src="/static/images/ningguo/ngnews.gif" alt="宁国新闻网，宁国本地新闻门户网站"></a>
                                <br>
                                <b>宁国新闻网</b>
                            </div>
                        </td>
                        <td>
                            <div class="domain_logo">
                                <a href="http://www.51ngrc.com/" title="宁国聚贤人才网"><img src="/static/images/ningguo/51ngrc.gif" alt="宁国聚贤人才网"></a>
                                <br>
                                <b>宁国聚贤人才网</b>
                            </div>
                        </td>
                        <td>
                            <div class="domain_logo">
                                <a href="http://www.20563.cn/" title="宁国传媒网"><img src="/static/images/ningguo/ngcm.gif" alt="宁国传媒网-宁国第一视听门户"></a>
                                <br>
                                <b>宁国传媒网</b>
                            </div>
                        </td>
                        <td>
                            <div class="domain_logo">
                                <a href="http://www.ngrcw.com/" title="宁国人才网"><img src="/static/images/ningguo/ngrcw.gif" alt="宁国一官方人才网"></a>
                                <br>
                                <b>宁国人才网</b>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>