<div id="wrapper">
    <div class="content clearfix">
        <div class="column" title="宁国名站">
            <dl>
                <dt>宁国名站<a href="mingzhan.html">more&raquo;</a></dt>
                <dd><a href="http://www.ngbbs.cn/"><i>宁国社区论坛</i><span class="fr">注册人数28+万</span></a></dd>
                <dd><a href="http://www.ngbbs.com/"><i>宁国论坛.com</i><span class="fr">客观公正 倡导自由民主</span></a></dd>
                <dd><a href="http://www.ng163.cn/"><i>宁国网</i><span class="fr">为宁国电子商务事业发展助跑</span></a></dd>
                <dd><a href="http://www.unicrex.com/"><i class="blue">宁国联创人才</i><span class="fr">宁国专业人才服务机构</span></a></dd>
                <dd><a href="http://www.ng114.net/"><i>宁国在线</i><span class="fr">本地公共信息服务平台</span></a></dd>
                <dd><a href="http://www.ngfu.org/"><i>宁国府</i><span class="fr">宁国百姓休闲娱乐平台</span></a></dd>
                <dd><a href="http://www.ngzhw.com/"><i>宁国综合网</i><span class="fr">宁国户外论坛</span></a></dd>
                <dd><a href="http://www.20563.cn/"><i>宁国之家</i><span class="fr">宁国网址导航</span></a></dd>
                <dd><a href="http://www.ngnews.cn/"><i class="red">宁国新闻网</i><span class="fr">宁国地方新闻</span></a></dd>
                <dd><a href="http://www.ningguo.gov.cn/"><i class="green">宁国市人民政府</i><span class="fr">宁国市政府门户网站</span></a></dd>
                <dd><a href="http://www.lejung.com/"><i class="red">乐居宁国</i><span class="fr">宁国房地产门户网</span></a></dd>
                <dd><a href="http://www.nghome.cn/"><i>宁国房产网</i><span class="fr">宁国房产信息网</span></a></dd>
            </dl>
        </div>
        <div class="column" title="购物指南">
            <dl>
                <dt>购物指南<a href="gouwu.html">more&raquo;</a></dt>
                <dd><a href="/gouwu/chaoshi.html"><i>超市连锁</i></a></dd>
                <dd><a href="/gouwu/diannao.html"><i>电脑通讯</i></a></dd>
                <dd><a href="/gouwu/fuzhuang.html"><i>服装服饰</i></a></dd>
                <dd><a href="/gouwu/jiadian.html"><i>家电</i></a></dd>
                <dd><a href="/gouwu/jiaju.html"><i>家具</i></a></dd>
                <dd><a href="/gouwu/nvxing.html"><i class="red">女性</i></a></dd>
                <dd><a href="/gouwu/shangchang.html"><i>商场</i></a></dd>
                <dd><a href="/gouwu/shuji.html"><i>书籍</i></a></dd>
                <dd><a href="/gouwu/yinxiang.html"><i>音像</i></a></dd>
            </dl>
        </div>
        <div class="column" title="娱乐休闲">
            <dl>
                <dt>娱乐休闲<a href="yule.html">more&raquo;</a></dt>
                <dd><a href="/yule/dianwan.html"><i>电玩</i></a></dd>
                <dd><a href="/yule/dianyingyuan.html"><i class="green">电影院</i></a></dd>
                <dd><a href="/yule/guangchang.html"><i>休闲广场</i></a></dd>
                <dd><a href="/yule/jiuba.html"><i>酒吧</i></a></dd>
                <dd><a href="/yule/julebu.html"><i class="blue">俱乐部</i></a></dd>
                <dd><a href="/yule/ktv.html"><i>KTV</i></a></dd>
                <dd><a href="/yule/tushuguan.html"><i class="red">图书馆</i></a></dd>
                <dd><a href="/yule/wangba.html"><i>网吧</i></a></dd>
                <dd><a href="/yule/yuxi.html"><i>休闲浴洗</i></a></dd>
            </dl>
        </div>
        <div class="column" title="餐饮美食">
            <dl>
                <dt>宁国餐饮美食<a href="/meishi.html">more&raquo;</a></dt>
                <dd><a href="/meishi/dangao.html"><i>蛋糕甜点</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/dapaidang.html"><i>大排档</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/haixian.html"><i>海鲜</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/huoguo.html"><i>火锅</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/jiulou.html"><i>酒楼</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/kafei.html"><i>咖啡</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/kuaican.html"><i>快餐</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/mianshi.html"><i>面食</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/mingcha.html"><i>茗茶</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/shaokao.html"><i>烧烤</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/tucaiguan.html"><i>土菜馆</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/tutechan.html"><i>土特产</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/xican.html"><i>西餐</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/xiuxiancanting.html"><i>休闲餐厅</i><span class="fr">27家</span></a></dd>
                <dd><a href="/meishi/zaodian.html"><i>早点</i><span class="fr">27家</span></a></dd>
            </dl>
        </div>
        <div class="column" title="健康美容">
            <dl>
                <dt>健康美容<a href="jiankang.html">more&raquo;</a></dt>
                <dd><a href="/jiankang/caihui.html"><i>彩绘</i></a></dd>
                <dd><a href="/jiankang/jianfei.html"><i>减肥</i></a></dd>
                <dd><a href="/jiankang/jianshen.html">健身<i></i></a></dd>
                <dd><a href="/jiankang/meifa.html"><i>美发</i></a></dd>
                <dd><a href="/jiankang/meijia.html"><i>美甲</i></a></dd>
                <dd><a href="/jiankang/meirong.html"><i>美容</i></a></dd>
                <dd><a href="/jiankang/tiyuguan.html"><i>体育场馆</i></a></dd>
                <dd><a href="/jiankang/yiyuan.html"><i>医院</i></a></dd>
                <dd><a href="/jiankang/zhengxing.html"><i>整形</i></a></dd>
                <dd><a href="/jiankang/zuliao.html"><i>足疗</i></a></dd>
            </dl>
        </div>
        <div class="column" title="旅游出行">
            <dl>
                <dt>旅游出行<a href="lvyou.html">more&raquo;</a></dt>
                <dd><a href="/lvyou/hotel.html"><i>宾馆酒店</i></a></dd>
                <dd><a href="/lvyou/jiaotong.html"><i>交通地图</i></a></dd>
                <dd><a href="/lvyou/dujiacun.html"><i>渡假村</i></a></dd>
                <dd><a href="/lvyou/jingqu.html"><i>景区景点</i></a></dd>
                <dd><a href="/lvyou/lvxingshe.html"><i class="blue">旅行社</i></a></dd>
                <dd><a href="/lvyou/nongzhuang.html"><i>农庄</i></a></dd>
                <dd><a href="/lvyou/qichefuwu.html"><i>汽车维修</i></a></dd>
            </dl>
        </div>
        <div class="column" title="生活服务">
            <dl>
                <dt>生活服务<a href="shenghuo.html">more&raquo;</a></dt>
                <dd><a href="/shenghuo/chongwu.html"><i>宠物服务</i></a></dd>
                <dd><a href="/shenghuo/diandanghang.html">典当行<i></i></a></dd>
                <dd><a href="/shenghuo/kuaidi.html"><i class="blue">快递</i></a></dd>
                <dd><a href="/shenghuo/lipin.html"><i>礼品</i></a></dd>
                <dd><a href="/shenghuo/xianhua.html"><i>鲜花</i></a></dd>
                <dd><a href="/shenghuo/yingyeting.html"><i>营业厅</i></a></dd>
                <dd><a href="/shenghuo/xiyidian.html"><i>洗衣店</i></a></dd>
                <dd><a href="/shenghuo/yinhang.html"><i>银行</i></a></dd>
            </dl>
        </div>
        <div class="column" title="人才教育">
            <dl>
                <dt>人才教育<a href="rencai.html">more&raquo;</a></dt>
                <dd><a href="http://www.ngrcw.com/"><i>宁国人事人才网</i></a></dd>
                <dd><a href="http://www.ahngzx.com/"><i>宁国中学</i></a></dd>
                <dd><a href="http://www.ahngjh.com/"><i>宁国市津恒幼儿园</i></a></dd>
                <dd><a href="http://www.unicrex.com/"><i>宁国联创人才网</i></a></dd>
                <dd><a href="http://www.ngyey.com/"><i>宁国市幼儿园</i></a></dd>
                <dd><a href="http://www.ahjhzx.cn/"><i>宁国市津河中学</i></a></dd>
                <dd><a href="http://www.ngdd.net/"><i>宁国电视广播大学</i></a></dd>
                <dd><a href="http://www.ngjx.net/"><i>宁国市技工学校</i></a></dd>
                <dd><a href="http://www.ngedu.cn/jtj/index.asp"><i>宁国教体信息网</i></a></dd>
            </dl>
        </div>
        <div class="column" title="房产">
            <dl>
                <dt>房产<a href="fangchan.html">more&raquo;</a></dt>
                <dd><a href="/fangchan/chuzufang.html"><i>出租房</i></a></dd>
                <dd><a href="/fangchan/ershoufang.html"><i>二手房</i></a></dd>
                <dd><a href="/fangchan/loupan.html"><i>楼盘</i></a></dd>
                <dd><a href="/fangchan/shangpu.html"><i>商铺租售</i></a></dd>
                <dd><a href="/fangchan/zhongjie.html"><i>房产中介</i></a></dd>
            </dl>
        </div>
        <div class="column" title="企业之窗">
            <dl>
                <dt>企业之窗<a href="/qiye.html">more&raquo;</a></dt>
                <dd><a href="/qiye/mingqi.html"><i>明星企业</i></a></dd>
                <dd><a href="/qiye/shangshi.html"><i>上市企业</i></a></dd>
            </dl>
        </div>
        <div class="column" title="政府之窗">
            <dl>
                <dt>政府之窗<a href="zhengfu.html">more&raquo;</a></dt>
                <dd><a href="http://www.ningguo.gov.cn/"><i>宁国市人民政府网站</i></a></dd>
                <dd><a href="http://www.ngfgw.com/"><i>发改委</i></a></dd>
                <dd><a href="http://www.ngedu.cn/"><i>教体局</i></a></dd>
                <dd><a href="http://www.ngkjj.gov.cn/"><i>科技局</i></a></dd>
                <dd><a href="http://www.ngga.gov.cn/"><i>公安局</i></a></dd>
                <dd><a href="http://www.ngcz.gov.cn/"><i>财政局</i></a></dd>
                <dd><a href="http://www.ngjw.gov.cn/"><i>监察局</i></a></dd>
                <dd><a href="http://www.ngjgbzw.gov.cn/"><i>编办</i></a></dd>
                <dd><a href="http://www.ngrsj.gov.cn/"><i>人社局</i></a></dd>
            </dl>
        </div>
    </div>
</div>
