<div id="login-box">
    <h3>
        <span>登录</span>
        <span id="close-login-btn">关闭</span>
    </h3>
    <form>
        <p>
            <input type="text" name="username" placeholde="手机号/用户名/邮箱">
        </p>
        <p>
            <input type="text" name="password" placeholder="密码">
        </p>
        <input type="button" value="注册">
        <input type="button" value="登录" id="login-button">
    </form>
</div>