<div id="wrapper">
    <div class="content clearfix">
        <% for(var i = 0; i < categories.length; i++){ %>
        <div class="column" title="<%= categories[i].name %>">
            <dl>
                <dt>
                    <span><%= categories[i].name %></span>
                    <a href="<%= categories[i].url %>">more&raquo;</a>
                </dt>

            </dl>
        </div>
        <% } %>
    </div>
</div>