<%- include ../include/header %>

<div id="login-box">
    <form action="/user/reg" method="post">
        <input type="text" name="username" value="" placeholder="手机号/用户名/邮箱">
        <input type="text" name="password" value="" placeholder="密码">
        <input type="button" value="注册">
    </form>
</div>

<%- include ../include/footer %>