<%- include ../include/header %>

<div id="login-box">
    <form action="/articles/add" method="post" enctype="multipart/form-data">
        <input type="file" name="poster">
        <textarea name="content"  id="content" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" value="发表文章">
    </form>
</div>

<%- include ../include/footer %>